<form>
<div class="formControl">
    <label for="text">Task</label>
    <input type="text" name="text" id="text" placeholder="Aggiungi Task" required>
</div>
<div class="formControl">
    <label for="day">Giorno</label>
    <input type="text" name="day" id="day" placeholder="Aggiungi Data" required>
</div>
<div class="formControl formControl-check">
    <label for="reminder">Promemoria</label>
    <input type="checkbox" name="reminder" id="reminder">
</div>
<input type="submit" value="Save Task" class="btn">
</form>