@if (showAddTask) {<form (ngSubmit)="onSubmit()">
<div class="formControl">
    <label for="text">Task</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Aggiungi Task" required>
</div>
<div class="formControl">
    <label for="day">Giorno</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Aggiungi Data & Ora" required>
</div>
<div class="formControl">
    <label for="reminder">Promemoria</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
</div>
<button matButton="elevated" type="submit" class="btn">Salva Task</button>
</form>}
