.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.formControl label{
    margin-bottom: 0.5rem;
    
}
.formControl input{
    height: 25px;
}
.btn{
   margin-bottom: 1rem;
}

